<div class="crt">
  <div class="contact-container">
    <h1>&gt; ./contact</h1>
    <p>For inquiries:</p>
    <p><a href="mailto:sourcecode.vtg@gmail.com" class="contact-link">sourcecode.vtg@gmail.com</a></p>
    <p>Instagram:</p>
    <p><a href="https://www.instagram.com/sourcecode.vtg" target="_blank" class="contact-link">@sourcecode.vtg</a></p>
    <p>Phone number: 07956074772</p>
  </div>
</div>
