<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
  <%# <link rel="stylesheet" href="/assets/_checkout.css"> %>
<% end %>

<div class="checkout-container">
  <%# <img src="/assets/logo.png" alt="Your Logo" class="mb-4" style="max-width: 200px; display: block; margin: 0 auto 2rem;" /> %>
  <div id="checkout"></div>
</div>
