<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
  <%= javascript_include_tag "checkout", defer: true %>
  <link rel="stylesheet" href="/assets/checkout.css">
<% end %>

<div id="checkout">
  
</div>
