<div id="feed">
  <div class="banner" style="background-image: url(<%= image_path('dennis-zhang-JfYu7iwHhe0-unsplash.jpg') %>);">
    <div class="container">
      <h1>Make the everyday extraordinary</h1>
        <p>Create a listing and bring your wardrobe to the world.</p>
        <a class="btn-primary" href="#">Create listing</a>
    </div>
  </div>
    <div id="recommended-garments">
      <h2><strong>Recommended garments</strong></h2>
      <div class="flexbox">
        <% if @garments.exists? %>
          <div class="grid">
          <% @garments.each do |garment| %>
            <%= render partial: "garment", locals: { garment: garment, show_all_photos: false} %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="recent-garments">
      <h2><strong>Recent garments</strong></h2>
      <% if @garments.exists? %>
        <div class="grid">
        <% @garments.each do |garment| %>
          <%= render partial: "garment", locals: { garment: garment, show_all_photos: false} %>
        <% end %>
        </div>
      <% end %>
    </div>
</div>
