<div id="feed">
    <div id="recommended-garments">
      <h2><strong>Recommended garments</strong></h2>
      <div class="flexbox">
        <% if @garments.exists? %>
          <div class="grid">
          <% @garments.each do |garment| %>
            <%= render partial: "garment", locals: { garment: garment, show_all_photos: false} %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="recent-garments">
      <h2><strong>Recent garments</strong></h2>
      <% if @garments.exists? %>
        <div class="grid">
        <% @garments.each do |garment| %>
          <%= render partial: "garment", locals: { garment: garment, show_all_photos: false} %>
        <% end %>
        </div>
      <% end %>
    </div>
</div>
