<div id="feed">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('dennis-zhang-JfYu7iwHhe0-unsplash.jpg') %>');">
    <h3 class="card-title">Make the everyday extraordinary</h3>
    <p class="card-subtitle">Create a listing and bring your wardrobe to the world.</p>
    <%= link_to "Create listing", new_garment_path, class: "btn-primary card-button" %>
  </div>

  <div class="main-wrapper">
    <div class="new-in-container">
      <h3>New in</h3>
    </div>

    <div class="grid">
      <% if @garments.exists? %>
        <% @garments.each do |garment| %>
          <%= render partial: "garment", locals: { garment: garment, show_all_photos: false } %>
        <% end %>
      <% else %>
        <p>No garments available.</p>
      <% end %>
    </div>

    <div class="the-ruby-edit-container">
      <h3>The Ruby Edit</h3>
    </div>

    <div class="grid">
      <% if @garments.exists? %>
        <% @garments.each do |garment| %>
          <%= render partial: "garment", locals: { garment: garment, show_all_photos: false } %>
        <% end %>
      <% else %>
        <p>No garments available.</p>
      <% end %>
    </div>
  </div>
  <div class="footer-index">
      <div class="links">
        <a href="#">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
      </div>
    </div>
</div>
