<% content_for :head do %>
  <script src="return.js" defer></script>
  <link rel="stylesheet" href="/assets/return.css">
<% end %>

<section id="success" class="hidden">
  <p>
    We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>.

    If you have any questions, please email <a href="mailto:sourcecode.vtg@gmail.com">sourcecode.vtg@gmail.com</a>.
  </p>
</section>
