<%= link_to "feed", root_path %>
<div class="two-columns">
  <div class="garment-details">
    <%= render @garment%>
  </div>
</div>
<h1>Garments#show</h1>
<p>Find me in app/views/garments/show.html.erb</p>
