_garments.scss

#feed {
  height: calc(100% - 400px);
  position: relative;
  background-color: black;
}

.main-wrapper {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}

.new-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.new-in-container h3 {
  margin: 0;
  padding: 0 10px;
  position: relative;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.new-in-container::before,
.new-in-container::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #B31B1B;
  margin: 0 10px;
}

.the-ruby-edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.the-ruby-edit-container h3 {
  margin: 0;
  padding: 0 10px;
  position: relative;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.the-ruby-edit-container::before,
.the-ruby-edit-container::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #B31B1B;
  margin: 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  margin-top: 20px;
  background-color: white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 480px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px 20px;
  padding-left: 359px;
}

.card-button {
  margin-right: 15px;
  display: inline-block;
  background-color: #800020;
  padding: 16px 36px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.card-title {
  font-size: 36px;
  opacity: 2;
  margin: 0;
  text-align: left;
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.card-subtitle {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: left;
  opacity: 0.9;
}

.card-button:hover {
  background-color: #FF0000;
  color: #fff;
}

.card-category {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 400px;
}

.card-garment {
  overflow: hidden;
  background: white; 
  width: calc(100% - 20px);
  max-width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  margin: 0 auto;
}

.card-garment:hover {
  opacity: 0.4;
}

.card-garment > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1px;
}

.card-garment .card-garment-infos {
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
}

.card-garment-infos .garment-title {
  margin-top: 5px;
  color: black;
  text-align: left;
  font-size: 16px;
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 3px;
}

.card-garment-infos .card-garment-pricing {
  font-size: 14px;
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 3px;
}

.card-garment .card-garment-infos .garment-size {
  font-size: 14px !important;
  font-family: "Spectral", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  margin-top: 3px !important;
  color: black !important;
  margin-bottom: 3px;
}

.card-garment .card-garment-infos .garment-brand {
  color: black;
  font-size: 14px !important;
  font-family: "Spectral", serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.card-garment-infos p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: left;
}

.card-garment-infos {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
}

.card-garment-pricing {
  font-size: 5px;
  font-weight: light;
  color: black;
  margin-left: 0;
}

.card-garment-infos .card-garment-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.footer-index {
  text-align: center;
  padding: 60px;
  background-color: black;
}

.footer-index a {
  font-size: 30px;
  color: #800020;
}

.footer-index p {
  color: #6B6C6C;
}

.footer-index .fas {
  color: #BF0F12;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
