.show-page {
  display: flex;
  justify-content: space-between;
}

.show-img-div {
  width: 55%;
  height: calc(100vh - 180px);
  border-right: 1px solid gray;
  overflow: auto;
}

.show-img-box {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  margin-inline-start: 25px;
  margin-top: 15px;
}

.show-desc-div {
  width: 40%;
  height: calc(100vh - 180px);
  color: black;
}

.show-desc-div p {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.garment-title {
  margin-top: 15px;
  color: red;
  text-align: center;
}

.garment-brand {
  border: 2px solid rgba(139, 2, 2, 0.881);
  border-radius: 25px;
  text-align: center;
  width: 60px;
  background-color: rgba(198, 1, 1, 0.795);
  color: white;
}
