.shipping-container {
  background-color: black;
  color: #39ff14;
  font-family: 'VT323', monospace !important;
  text-align: left;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  font-family: 'VT323', monospace !important;
  padding: 20px;
}

h2 {
  font-family: 'VT323', monospace !important;
  padding: 20px;
}

p {
  font-family: 'VT323', monospace !important;
}
