.user-show-page-container {
  padding: 20px;
  padding-bottom: 0;
}

html, body {
  height: 100%;
}

.user-main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 20px);
}

.user-info-container {
  display: flex;
  gap: 20px;
}

.user-profile-photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.user-details h2 {
  margin-bottom: 5px;
  margin-top: -10px;
}

.user-products-tab-container {
  margin-top: 20px;
  padding-right: 75px;
}

.user-follow-info {
  margin-top: 10px;
}

.user-description {
  margin-top: 10px;
}

.user-rating .fas.fa-star {
  color: #B31B1B;
  font-size: 17px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  margin-top: 20px;
  background-color: white;
  padding-bottom: 0; 
}

@media (max-width: 1200px) {
  .user-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .user-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .user-grid {
    grid-template-columns: 1fr;
  }
}
