  <div class="crt">
    <div class="footer-index">
      <p class="footer-line">&gt; SYSTEM STANDBY...</p>

      <div class="footer-nav">
        <%= link_to "./shipping", shipping_path, class: "footer-link" %>
        <%= link_to "./contact", contact_path, class: "footer-link" %>
        <%= link_to "./terms", terms_path, class: "footer-link" %>
      </div>
    </div>
  </div>
