<div class="crt">
  <div class="terminal-container" data-controller="landing">
    <div>
      <span data-landing-target="line1" class="typed-line"></span>
    </div>
    <div>
      <span data-landing-target="line2" class="typed-line"></span>
    </div>
    <span id="cursor" class="cursor"></span>
    <%= link_to 'ENTER', garments_path, class: 'pill-button' %>
  </div>
</div>
