<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>landing page</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="banner" style="background-image: url(<%= asset_path('dennis-zhang-JfYu7iwHhe0-unsplash.jpg') %>);">
      <div class="container">
        <h1>Bring the runway straight to your door.</h1>
        <p>Shine ruby bright and stand out by renting rare luxury garments.</p>
        <%= link_to "Log in", new_user_session_path, class: "btn-primary" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn-primary" %>
      </div>
    </div>
    <div class="container">
      <h2 class="text-center">
      </h2>
      <div class="cards">
        <div class="card">
          <img src="images/apply.svg" alt>
          <h4>Select</h4>
          <p>Choose from our wide range of user curated listings.</p>
        </div>
        <div class="card">
          <img src="images/learn.svg" alt>
          <h4>Digital wardrobe</h4>
          <p>Monetise your style and upload your own looks.</p>
        </div>
        <div class="card">
          <img src="images/product.svg" alt>
          <h4>Equalise</h4>
          <p>Make the luxurious accessible by creating an account today.</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a href="#">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
      </div>
    </div>
  </body>
</html>
