<script src="/return.js" defer></script>

<section id="success" class="hidden">
  <div class="thank-you-container">
    <img src="/assets/red-pill.gif" alt="Thank you" class="thank-you-gif" />

    <p>
      We appreciate your business! A confirmation email will be sent to
      <span id="customer-email"></span>.
    </p>

    <p>
      If you have any questions, please email
      <a href="mailto:sourcecode.vtg@gmail.com">sourcecode.vtg@gmail.com</a>.
    </p>
  </div>
</section>
