// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  border: 1px solid #FE0000;
}

body.index-page {
  background-color: black;
}

body.form-page {
  background-color: #ffffff;
}

.form-main-styles-container {
  margin: 0px auto;
  max-width: 800px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 80px;
}

.header {
  margin-bottom: 20px;
  padding: 75px 0;
  h2 {
    display: flex;
    border-bottom: 0.3px solid #C0C0C0;
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding-bottom: 10px;
  }
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.form-control {
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
}



.btn-primary {
  background-color: #800020;
  color: white;
  transition: background-color 0.3s ease;
  border-color: #800020 !important;
}

.btn-primary:hover {
  color: white;
  background-color: #FF0000;
}


.form-group h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}

.existing-photos h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}

.form-group-photos {
  margin-top: 30px;
}

.form-group-button {
  margin: 30px;
}

.garment-image-form {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  margin: 10px;
}
